node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Claude
.claude/

#Others
notes-colors
contrast-analysis.js
SPINACH_UI_NPM_PUBLISHING.md
color-override-concept.md
src/routes/AccentBgLab.svelte
patterns/
SPEKTRAL_UI_INDEX.draft.ts
SPEKTRAL_UI_README.draft.md
SPEKTRAL_UI_PACKAGE.draft.json
