* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: var(--bg);
}

:root {
    /* Accent */
    --accent-lighter: #6ee7b7;
    --accent-light: #34d399;
    --accent: #34d399;
    --accent-dark: #059669;
    --accent-darker: #047857;
    --text-accent: #ffffff;

    /* Tone */
    --bg: #252825;
    --card: #1a1d1a;
    --highlight: #2f342f;
    --text: #f5f5f4;
    --text-muted: #a8a29e;

    /* Typography */
    --font-body: 'Inter', sans-serif;
    --font-heading: 'Space Grotesk', sans-serif;

    /* Overlay */
    --overlay-swatches: rgba(255,255,255,0.35);
    --overlay-dark: rgba(0, 0, 0, 0.1);
    --overlay-light: rgba(255,255,255,0.2);

    /*shadows*/
    --shadows-light: rgba(37, 40, 37, 0.45);
}